:root {
    --cor_de_fundo:#FFFF8F	;
    --cor_primaria_fonte:#221703;
    --cor_mais_escura: #E49B0F;
    --cor_para_hover:  #ffcc66;
    --cor_para_back:#996600;

}
* {
    margin: 0;
    padding: 0;

}

main {
  padding-top: 100px;
}

.index {
  overflow: hidden;
}

.banner{
    width: 100%;
    height: 100px;
    background-color:var(--cor_de_fundo);
    color:#221703;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--cor_mais_escura);
    color: #221703;
    text-align: center;
      position: relative;
      top: 50px;
    
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav a {
    color: var(--cor_para_back);
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: var(--cor_para_hover);
    color: var(--cor_primaria_fonte);
  }

.rodape {
    background-color: var(--cor_de_fundo);
    width: 100%;
    height: 80px;
     margin-top: 50px;
    
}
.conteudo {
    width: 100%;
    height: 800px;
}
