:root {
    --cor_de_fundo:#A5D1DF;
    --cor_primaria_fonte:#274F5C;
}
* {
    margin: 0;
    padding: 0;

}
.banner {
    width: 100%;
    height: 100px;
    background-color:var(--cor_de_fundo);
}
.rodape {
    background-color: var(--cor_de_fundo);
    width: 100%;
    height: 80px;
}
.conteudo {
    width: 100%;
    height: 500px;
}